footer {
  width: 100%;
  background-color: var(--footer-bg-color);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  color: var(--footer-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info p {
  margin-right: 20px;
}

.contact-info img {
  width: 30px;
  height: auto;
  vertical-align: middle;
  margin-left: 10px;
}

footer .contact-info img {
  width: 40px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}

footer .contact-info p {
  display: inline;
  font-size: 0.75em;
  color: var(--footer-text-color);
}

footer .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.link-container img {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease;
  margin-right: 10px;
}

.link-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--footer-text-color);
}

.link-container a span {
  font-size: 0.75em;
}

footer .more-detail {
  font-size: 1em;
  font-weight: bold;
  color: var(--footer-text-color);
  margin-bottom: 10px;
}

.App-link span {
  font-size: 0.75em;
}
